@charset "utf-8";

html {
  font-size: 100%;
}

.wrapper {
  max-width: 800px;
}

h1 {
  color: black;
  text-align: left;

  background-color: white;
  border: none;
  padding: 5px 5px;
}

textarea{
  resize: vertical;
}

.button-submit {
  margin: 10px auto;
}
.radio-area {
  margin: 10px auto;
}

.graph-text {
  min-height: 100px;
}

#graph-output {
  margin: 10px auto;
  padding: 0;
  border: thin solid;

}
.graph {
  /* background-color: yellow; */
}

textarea {
  width: 100%;
}

